<div id="content">
  <div class="navbar-spacer"></div>
  <div id="local-game"></div>
  <div class="panel panel-default">
    <div class="panel-heading">Network game - Remote AI</div>
    <div class="panel-body">
      Play against an AI on the server
      <form name="rai-form" id="rai-form" class="form-inline"
            role="form">
        <button type="submit" class="btn btn-primary btn-right">Play
        against remote AI</button>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" id="network-header">Network game -
    Human opponent
      <span id="network-header-error" style="display:none;"> - Error occured, page refresh recommended.</span>
    </div>
    <div id="opponent-list">
      <div class="panel-body">
        Opponent list
      </div>
    </div>
    <input type="hidden" id="csrf-token"/>
  </div>
  <div class="offscreen_loading card card_back"></div>
  <script type="text/javascript" src="/public/js/eventsource.js"></script>
  <script src="/public/js/gin.js" type="text/javascript"></script>
  <script type="text/javascript">gin.lobby.core.main();</script>
</div>
