<div id="content">
  <div class="navbar-spacer"></div>
  <div id="local-game"></div>
  <div class="panel panel-default">
    <div class="panel-heading">Network game - Remote AI</div>
    <div class="panel-body">
      Play against an AI on the server
      <form name="rai-form" id="rai-form" class="form-inline"
            role="form">
        <button type="submit" class="btn btn-primary btn-right">Play
        against remote AI</button>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Network game - Human opponent</div>
    <div class="panel-body">
      Opponent list
    </div>
  </div>
</div>
